*, *::before, *::after {
    box-sizing: border-box;
}

body {
    transform: scale(0.7);
}

.container {
    display: flex;
    align-items: center;
}

.center {
    text-align: center;
}

p {
    font-size: 36px;
}

#titleContainer {
    align-items: center;
    justify-content: center;
}

#titleContainer > h1 {
    font-size: 80px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 30px;
}

#rulesContainer {
    /*display: flex;*/
    flex-direction: column;
}

#rulesContainer p {
    font-size: 36px;
    margin: 10px;
}

#imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: auto;
    margin: 25px;
}

img {
    height: 200px;
    width: auto;
    border: 5px solid black;
    border-radius: 10px;
    margin: 0 50px 0 50px;
}

.rock {
    background-image: url(./images/rock.png);
    width: 150px;
    height: 150px;
    border: 3px dotted black;
    border-radius: 10px;
    margin: 20px;
    background-size: cover;
    background-position: center;
}

.paper {
    background-image: url(./images/paper.png);
    width: 150px;
    height: 150px;
    border: 3px dotted black;
    border-radius: 10px;
    margin: 20px;
    background-size: cover;
    background-position: center;
}

.scissors {
    background-image: url(./images/scissors.png);
    width: 150px;
    height: 150px;
    border: 3px dotted black;
    border-radius: 10px;
    margin: 20px;
    background-size: cover;
    background-position: center;
}

img:hover {
    border-color: green;
}

#roundPlay {
    height: 175px;
}
#roundPlay > p {
    margin: 150px 20px 150px 20px;
}

#resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


#roundScore {
    font-size: 36px;
    height: 50px;
}

#finalScoreText {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 0;
}

#finalScoreContainer {
    justify-content: space-between;
}

#playerScore {
    margin-right: 25px;
    font-size: 36px;
}

#playerScore > p {
    margin-left: 20px;
}

#computerScore {
    margin-left:25px;
    font-size:36px;
}

#computerScore > p {
    margin-right: 20px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.hidden {
    visibility: hidden;
}

#popupContainer {
    width: 100vw;
    height: 50vh;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 10%;
    flex-direction: column;

}

#endMsg {
    font-size: 58px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    border: 3px solid black;
    border-radius: 5%;
    background: rgb(14, 117, 19);
    color: white;
}
